<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<bean class="com.javatpoint.Student" id="stu">
		<property name="id" value="10"></property>
		<property name="name" value="chaitanya"></property>
		<property name="subject" value="coding"></property>
	</bean>

	<bean class="com.javatpoint.Student" id="stu1">
		<property name="id" value="20"></property>
		<property name="name" value="chiru"></property>
		<property name="subject" value="mechanical"></property>
	</bean>

</beans>