<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<bean class="com.javatpoint.Address" id="add">
		<constructor-arg name="city" value="Bangalore"></constructor-arg>
		<constructor-arg name="state" value="KA"></constructor-arg>
		<constructor-arg name="country" value="India"></constructor-arg>
	</bean>

	<bean class="com.javatpoint.Student" id="stu">
		<constructor-arg name="id" value="2"></constructor-arg>
		<constructor-arg name="name" value="chaitanya"></constructor-arg>
		<constructor-arg name="subject" value="coding"></constructor-arg>
		<constructor-arg>
			<ref bean="add" />
		</constructor-arg>
	</bean>

	<bean class="com.javatpoint.Student" id="stu1">
		<constructor-arg name="id" value="20"></constructor-arg>
		<constructor-arg name="name" value="chiru"></constructor-arg>
		<constructor-arg name="subject" value="mechanical"></constructor-arg>
		<constructor-arg>
			<ref bean="add" />
		</constructor-arg>
	</bean>

</beans>